/* styling all my sheets */
body {
    background-color: lightblue;
    font-family: 'Roboto', 'Open Sans';
}
/* formatting images */
.mainimages {
    height: 300px;
    width: 500px;
    margin: 20px;
}

.portfolioimages {
    height: 3250 px;
    width: 300px;
    margin: 20px;
}

h2{
    text-align: center;
    margin: 300 px;
}

