body {
    background-color: lightblue;
    font-family: 'Roboto', 'Open Sans';
}

.images {
    height: 300px;
    width: 500px;
    margin: 20px;
}

h2{
    text-align: center;
    margin: 300 px;
}
